.serviceCard{
    box-shadow: 1px 0px 2px lightgrey;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.serviceCard:hover{
    box-shadow: 1px 7px 20px lightgrey;
}
.serviceItem-name{
    margin-top: 20px;
}
.service-container{
    margin: 0 auto;
    width: 80%;
}
@media only screen and (max-width: 600px) {
    .service-container{
        width: 100%;
    }
}