*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.brand-btn{
    color:#fff;
    text-decoration: none;
    background: linear-gradient(90deg,#c3124d,#f30e47);
    padding: 6px 20px;
    border-radius: 3px;
}
.brand-btn:hover{
    background: linear-gradient(90deg,#3498db,#2071a7);
    color:#fff;
}

.font-color-ping{
    color:#F63E7B
}

.sidebar-container{
    width: 15%;
}


.bg-light-white{
    background-color: #F3F5F9;
}

.cursor-pointer{
    cursor: pointer;
}


.PETER-RIVER-BELIZE-HOLE{
    background: linear-gradient(90deg,#3498db,#2980b9);
}

.wrap-container{
    display: flex;
}
.sidebar-container{
    width: 15%;
}
.main-container{
    width: 85%;
}
.main-container-input{
    width: 50%;
}


@media only screen and (max-width: 600px) {
    .wrap-container{
        display: block;
    }
    .sidebar-container{
        width: 100%;
        height:40vh
    }
    .main-container{
        width: 100%;
    }
    .main-container-input{
        width: 100%;
        
    }
    .loggedInUserPhoto{
        display: none;
    }
}